<!DOCTYPE html>
<html lang="en">
<header th:replace="~{common/fragment :: head}"></header>

<body>

    <header>
        <header th:replace="~{common/fragment :: header}"></header>
        <div th:replace="~{common/fragment :: backBtn('Back', '/')}"></div><br>

        <main class="container mt-3 p-2 rounded-4" style="border: 2px solid goldenrod;">

            <div class="container mt-3 p-2 shadow-lg rounded-3">
                <h3 class="text-center">ADD BLOG HERE</h3>
            </div>

            <form action="/add-blog" method="post">
                <label for="blogHeading" class="form-lable">Enter Heading</label>
                <input type="text" id="blogHeading" class="form-control rounded-3 " name="heading">
                <label for="blogDescription">Enter Description</label>
                <textarea id="blogDescription" class="form-control rounded-3" name="description"></textarea>
                <br>
                <button class="btn btn-success">Submit</button>
            </form>
        </main>
</body>

</html>